/* :root {
    --background: #211A1A;
    --display: #3F2F2E;
    --buttons: #2C2121;
    --light-main: #C9A29F;
    --light-secondary: #FFDAD6;
    --light-contrast: #FFDEA3;
    --text-light: #EDE0DE;
    --text-dark: #281900;
    --cursor-color: #b8817d;
} */

:root {
    --background: #1b1b1e;
    --display: #2b2d37;
    --buttons: #222329;
    --light-main: #a5aac0;
    --light-secondary: #d9e2ff;
    --light-contrast: #ffd5fd;
    --text-light: #e0dfe3;
    --text-dark: #0a1022;
    --cursor-color: #91a2d0;
}

:root.day {
    --background: #151715;
    --display: #203028;
    --buttons: #1d2521;
    --light-main: #98b1a2;
    --light-secondary: #8bf8c4;
    --light-contrast: #b6eaff;
    --text-light: #e6e8e4;
    --text-dark: #050606;
    --cursor-color: #6edba9;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: none;
    /* border: 2px solid black; */
}


.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./img/Valley-day.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.calculator {
    width: calc(40vh + 20px);
    height: 80vh;
    max-width: 520px;
    max-height: 1000px;
    min-width: 340px;
    min-height: 640px;
    display: grid;
    grid-gap: 10px;
    padding: 0px 10px 10px 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5fr 1fr repeat(5, 2fr);
    /* 1/4 width must equal 2/16 height for round buttons*/
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-size: 54px;
}

.display {
    width: calc(100% + 20px);
    max-height: 100%;
    text-align: right;
    background-color: var(--display);
    border-radius: 20px;
    padding: 20px;
    transform: translateX(-10px);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.display-main {
    flex: 0 0 auto;
    color: var(--text-light);
    background-color: var(--display);
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    flex: none;
    white-space: nowrap;
    overflow-x: auto;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.display-main:focus {
    outline: none;
    caret-color: var(--cursor-color);
}

.display-preview {
    font-size: 30px;
    flex: 0 0 auto;
    color: var(--light-main);
    display: flex;
    flex-direction: row-reverse;
    flex: none;
    white-space: nowrap;
    overflow-x: auto;
}

button {
    border-radius: 50%;
    font-size: 20px;
    background-color: var(--buttons);
    color: var(--text-light);
    /* transition: 0s 150ms; */
}

.small {
    border-radius: 20px;
    background-color: var(--background);
}

.functions {
    background-color: var(--light-main);
    color: var(--text-dark);
}

.AC {
    background-color: var(--light-contrast);
}

.equals {
    background-color: var(--light-secondary);
}

button:active,
button.pressed {
    filter: brightness(1.5);
    /* transition: 0s; */
}

@media (hover: none) and (orientation: landscape) {
    .calculator {
        width: 80vw;
        height: calc(40vw + 20px);
        max-height: 520px;
        max-width: 1000px;
        min-height: 340px;
        min-width: 640px;
        display: grid;
        grid-gap: 10px;
        padding: 0px 10px 10px 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 5fr repeat(4, 2fr);
        background-color: var(--background);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        grid-auto-flow: column;
    }

    .display {
        overflow-x: auto;
        max-height: 100%;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    button {
        border-radius: 20px;
    }

    .equals {
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 6;
        grid-column-end: 7;
    }
    
    .AC,
    .percent,
    .parens {
        grid-column-start: 6;
        grid-column-end: 7;
    }

    .multiply,
    .subtract,
    .add,
    .divide {
        grid-column-start: 5;
        grid-column-end: 6;
    }
    
    .num9,
    .num6,
    .num3,
    .del {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .num8,
    .num5,
    .num2,
    .decimal {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .num7,
    .num4,
    .num1,
    .num0 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}